@charset "utf-8";
@font-face {
  font-family: 's-core-dream';
  src: url('../font/scdream4-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream';
  src: url('../font/scdream5-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream';
  src: url('../font/scdream6-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/*초기화*/
body, h1, h2, h3, h4, h5, h6, p, ul, li,ol,button,dl,dt,dd,form,fieldset,legend,table,thead,tbody,tfoot,tr,td,th,span,figure{margin:0; padding:0; word-break:keep-all;} 
em,address{font-style:normal;}
ol, ol>li, ul, ul>li{list-style:none;}
button{border:0;background:none;cursor:pointer;}
button>span{-ms-transform: translate(0px, -0.5px);}
*, :after, :before{box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-text-size-adjust:none;/*ios 확대방지*/}
a img{border:0;}
fieldset{border:0;}
body,html,button,select,input,textarea{font-family: 's-core-dream', sans-serif;font-size:16px;font-weight:400;color:#242424; line-height:1.5;letter-spacing: -1px;}
a{text-decoration:none;color:#242424;}
iframe{border:0;}
table{width: 100%;table-layout:fixed; margin:0; padding:0; border:0; border-collapse: collapse; border-spacing: 0;}
table caption,legend{position: absolute;width: 1px;height: 1px;clip: rect(0 0 0 0);overflow: hidden;}
strong{font-weight: 500;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
/* 포커스 색상변경 */
*:focus {outline: 3px solid #0b153a!important;outline-offset:2px;}
*:focus:not(:focus-visible) {outline: 0!important;}
.slick-slide a:focus img{outline: 3px solid #0b153a!important;}
footer *:focus {outline: 3px solid #fff!important;}

/*전체공통*/
body{display: flex;flex-direction: column;min-height: 100vh;}
/*스킵네비게이션*/
.skipMenu{display:block; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;}
.skipMenu a{display: block; position: absolute; top: -9999px;}
.skipMenu a span {display: block;padding:10px 0;background: #0b69b8;border: 0 none;color: #fff;text-align: center;}
.skipMenu a:focus, .skipMenu a:hover, .skipMenu a:active{display:inline-block; width: 100%; z-index: 100; top:0;}

/*input, select, textarea... */
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"]{-webkit-appearance: none;-moz-appearance: none;appearance: none;font-size:14px;border:1px solid #d9d9d9;padding: 5px 10px;height:40px;-webkit-appearance: none;-webkit-border-radius: 0;}
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="number"]::placeholder,  input[type="tel"]::placeholder, input[type="email"]::placeholder{color: #666}
input[type="text"]::-ms-clear, input[type="password"]::-ms-clear, input[type="number"]::-ms-clear, input[type="tel"]::-ms-clear, input[type="email"]::-ms-clear{display: none;}
input.calendar{background:#fff url(../images/common/calendar.png) right 10px center no-repeat;max-width: 170px;z-index: 50;cursor: pointer;}
input[type="radio"]{margin: 3px;} 
input[type='radio']:checked{accent-color:#1c2750;}
/* input[type="checkbox"]{border-color:#b2b2b2} */

input[type="checkbox"]{border: 0;height: 1px !important;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px !important;opacity: 0;}
input[type="checkbox"]:focus + label:before, input[type="checkbox"]:hover + label:before{border-color: #1c2750 !important;}
input[type="checkbox"]:active + label:before{-webkit-transition-duration: initial;transition-duration: initial;-webkit-filter: brightness(0.2);filter: brightness(0.2);}
input[type="checkbox"] + label{position: relative;padding: 6px 10px 10px 25px;-webkit-padding-before:10px;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: pointer;}
input[type="checkbox"] + label:before{box-sizing: content-box;content: '';position: absolute;top: 50%;left: 0;margin-top:-10px;width: 16px;height: 16px;background: #fff;border: 1px solid #a9a9a9;text-align: center;}
input[type="checkbox"] + label:after{box-sizing: content-box;content: '';background:transparent;position: absolute;top: 50%;left:1px;width: 16px;height: 16px;margin-top:-9px;}
input[type="checkbox"]:checked + label:after{background:url(../images/common/check.jpg) center no-repeat;}

.radiobox, .cheakbox{display: inline-block;margin-left: 0px;display: flex;align-items: center;white-space: nowrap;flex-wrap: wrap;}
.radiobox.block, .cheakbox.block{margin-left: 0;}
.radiobox:last-child, .cheakbox:last-child{margin-right: 0;}
.radiobox label, .cheakbox label, .radiobox input, .cheakbox input{cursor: pointer;line-height: 1;}
.radiobox label, .cheakbox label{margin: 5px 18px 5px 0!important;}
.radiobox label:last-child, .cheakbox label:last-child{margin-right: 0 !important;}
.radiobox span, .cheakbox span{display: inline-block;}
.radiobox>div,.cheakbox>div{margin-right: 18px;}

textarea{font-size:14px;color:#242424;resize: none;border:1px solid #d9d9d9;padding:5px 10px;width: 100%;height: 185px;overflow-y: auto;display: block;line-height:1.7;-webkit-appearance: none;-webkit-border-radius: 0;}

select{font-size:14px;border:0;background:0;background:#fff url(../images/common/select_bg.png) right 10px center no-repeat;-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:5px 25px 5px 10px;border:1px solid #d9d9d9;height:40px;vertical-align: top;-webkit-appearance: none;-webkit-border-radius: 0;}
select::-ms-expand{display:none;}
select option{margin: 5px 0;}

/*인풋 파일추가 스타일*/
input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0 none;}
input.file-name{min-width: 400px;border: none;background:#ececec !important}
input.last-file{margin-top:0;}
.file-focus{outline: 3px solid #0b153a!important;}
.file_add {font-size: 14px;height: 35px;line-height: 35px;color: #fff;background: #242424;display: inline-block !important;text-align: center;padding: 0 15px;margin-left: 2px;vertical-align: top;cursor: pointer;}

input[readonly], textarea[readonly]{background:#f4f4f4}

.a_link{color: #4673cd;text-decoration: underline;}
.cursor_p{cursor: pointer;}

/*버튼*/
/*버튼스타일*/
.black_btn{background:#242424;color:#fff;display: inline-block;text-align: center;padding: 12px 15px;transition: background-color .4s;min-width: 120px;height:45px;}
.black_btn:hover{background-color:#000;}
.border_btn{border:1px solid #242424;display: inline-block;text-align: center;padding: 12px 15px 12px 15px;transition: background-color .4s, color .4s;min-width: 120px;height:45px;}
.border_btn:hover{background-color:#242424;color:#fff;}
.gray_btn{background:#86878c;color:#fff;display: inline-block;text-align: center;padding: 12px 15px;transition: background-color .4s;min-width: 120px;height:45px;}
.gray_btn:hover{background-color:#e21625;}
.blue_btn{background:#1d8be0;color:#fff;display: inline-block;text-align: center;padding: 12px 15px;transition: background-color .4s;min-width: 120px;height:45px;}
.blue_btn:hover{background-color:#1963cc;}
.navy_btnB{background:#003461;color:#fff;display: inline-block;text-align: center;padding: 12px 15px;transition: background-color .4s;min-width: 120px;height:45px;}
.navy_btnB:hover{background-color:#082036;}
.more_btn{font-size: 14px;background:#1c2750;color:#fff;display: inline-block;text-align: center;padding: 9px 10px;transition: background-color .4s;min-width: 120px;height:35px;}
.more_btn:after{content: '';}
.more_btn:hover{background-color:#101631;}

.black_btn.small{padding: 7px 10px 6px 10px;height: 35px;min-width: 80px;font-size: 14px;}
.border_btn.small{padding: 7px 10px 6px 10px;height: 35px;min-width: 80px;font-size: 14px;}

.navy_btn{font-size: 15px;color:#fff!important;text-decoration: none!important;background-color:#003461;display: inline-block;text-align: center;padding: 9px 15px;transition: background-color .4s;position: relative;}
.navy_btn:hover{background-color:#082036;}
.navy_btn:after{display: none;}
.navy_btn.down, .navy_btn.link{font-size:14px;height: 35px;min-width: 120px;}
.navy_btn.down span{position: relative;padding-left: 22px;}
.navy_btn.down span:before{content: '';width: 13px;height: 12px;background-image: url(../images/common/bg.png);background-position:-325px -10px;background-repeat:no-repeat;position: absolute;left: 0;top: 49%;margin-top: -6px;}
.navy_btn.link span{position: relative;padding-right: 16px;}
.navy_btn.link span:before{content: '';width: 6px;height: 12px;background-image: url(../images/common/bg.png);background-position:-10px -10px;background-repeat:no-repeat;position: absolute;right: 0;top: 49%;transform: translateY(-50%);transition:right .4s}

.navy_btn.small{padding: 7px 10px 6px 10px;min-width: 80px;font-size: 14px;height: 35px;}
.navy_btn.smallG{padding: 7px 0 6px 0;min-width: 180px;font-size: 14px;height: 35px;}
.navy_btn.link.small{padding: 5px 22px 7px 10px;min-width: 80px;font-size: 14px;height: 30px;}

.add_btn{font-size:0;width: 35px;height: 35px;display: inline-block;background:#1c2750;position: relative;}
.del_btn{font-size:0;width: 35px;height: 35px;display: inline-block;background:#868686;position: relative;transition: .4s;}
.del_btn:hover{background: #e21625;}
.add_btn:after, .add_btn:before, .del_btn:before{content: '';width: 8px;height: 2px;background:#fff;position: absolute;left: 50%;top:50%;margin: -1px 0 0 -4px;}
.add_btn:after{transform: rotate(90deg);}

/* 열삭제버튼 */
.ar_remove_btn{height: 35px;padding: 7px 10px 7px 10px;}

.search_btn{background: #242424 url(../images/common/search.png) center no-repeat;width: 43px;height: 40px;display: inline-block;font-size:0;line-height:0;}

/*버튼위치*/
.btn_area{display: flex;align-items: center;justify-content: center;}
.btn_area a{margin-right:10px;cursor: pointer;}
.btn_area a:last-child{margin-right:0 !important;}
.btn_area.btn_space{justify-content: space-between;align-items: flex-start;}
.btn_area.left{justify-content: flex-start;}
.btn_area.right{justify-content: flex-end;}

/*레이아웃*/
.w60{width: 60px !important;min-width: 60px;}
.w90{width: 90px !important;min-width: 90px;}
.w120{width: 120px !important;}
.w125{width: 125px;}
.w130{width: 130px!important;}
.w150{width: 150px;}
.w170{width: 170px;}
.w180{width: 180px;}
.w190{width: 190px;max-width: 190px!important;}
.w215{width: 215px;}
.maxw250{max-width: 250px!important;}
.w300{width: 300px;}
.w380{width: 380px;}
.w710{width: 710px;}
.w1P{width: 100% !important;}
.wC40{width: calc(100% - 41px)!important;}
.t_left{text-align: left !important;}
.t_center{text-align: center !important;}
.t_right{text-align: right !important;}
.ellipsis1{text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;overflow: hidden;display: block;max-width: 96%;}
.ellipsis2{width: 100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;/* 라인수 */-webkit-box-orient: vertical;line-height: 1.2em;max-height: 2.4em;}
.ellipsis3{width: 100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;/* 라인수 */-webkit-box-orient: vertical;line-height: 1.2em;max-height: 3.6em;}

/*컬러*/
.bold{font-weight: 500;}
.pointB01{color:#4673cd;}
.pointB02{color:#0677ea;}
.pointB03{color: #1864cb;}
.pointR01{color:#e21625;}
.pointR{color:#e21625;}
.pointO{color:#d74b17;}
.pointB{color:#1764ce;}
.pointG{color:#20b373;}
.pointY{color:#ffc105!important;}
.pointC{color:#46c6f4;}
.pointD{color:#242424!important;}
.pointGold{color: #b59854!important;}
.bg_Color01,.bg_Color01:after{background-color:#2174dc!important;}

/*마진, 패딩*/
.mt100{margin-top:100px !important;}
.mt80{margin-top:80px !important;}
.mt70{margin-top:70px !important;}
.mt60{margin-top:60px !important;}
.mt50{margin-top:50px !important;}
.mt40{margin-top:40px !important;}
.mt35{margin-top:35px !important;}
.mt30{margin-top:30px !important;}
.mt25{margin-top:25px !important;}
.mt20{margin-top:20px !important;}
.mt15{margin-top:15px !important;}
.mt10{margin-top:10px !important;}
.mt5{margin-top:5px !important;}
.mt2{margin-top:2px !important;}
.mt0{margin-top:0px !important;}

.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}

.m0{margin:0 !important;}
.p0{padding:0 !important;}
.pL0{padding-left:0px !important;}
.pt0{padding-top:0px !important;}
.pb0{padding-bottom:0px !important;}
.p20b0{padding: 20px 0 !important;}

.borderT_gray{border-top: 1px solid #d9d9d9!important;}
.borderR_gray{border-right: 1px solid #d9d9d9!important;}
.border_t0{border-top: 0 !important;}

/* 쉐도우 */
.shadow{position:fixed;left: 0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,.7);z-index: 250;display: none;}
.shadow2{position: fixed;left: 0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,.7);display: none;}
.shadow3{position:fixed;left: 0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,.7);z-index: 250;display: none;}
.shadow_pop{position:fixed;left: 0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,.7);z-index: 510;display: block;}


.mobile_telNo{cursor: auto;color: #242424!important;text-decoration: none!important;}
.mobile_telNo.pointB{color: #1764ce!important;}

/* 탑버튼 */
.top_move{position: fixed;right:22px;bottom:25px;width: 45px;height: 45px;border-radius: 50%;background-color: #004c8a;cursor: pointer;display: flex;align-items: center;justify-content: center;z-index: 30;opacity: 0;transition : opacity 0.5s;}
.top_move .arrow{position: relative;width: 1px;height: 17px;background-color: #fff;display: block;transition: height .3s;}
.top_move .arrow:before{content: '';width: 7px;height: 4px;background: url(../images/common/top_arrow.png) center no-repeat;position: absolute;left: -3px;top:0;}
.top_move:hover .arrow{height: 28px;}
.top_move.show{opacity: 1;}
.top_move.fixed{position:absolute;bottom:auto;top:-60px;}

/*팝업*/
.pop_layer{background:#fff;width: calc(100% - 20px); min-width: 540px;position: fixed;left: calc(50% - 10px);top: 48%;z-index: 520;transform: translateX(-50%); display:none;border-radius: 20px;margin: 0 10px;max-width: 800px;max-height: calc(100vh - 50px);}
.pop_title{background: #213f63;font-size: 20px;color: #fff;font-weight: 400;padding: 14px 50px 14px 30px;height: 54px;border-top-right-radius: 16px;;border-top-left-radius: 16px;text-align: left;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;overflow: hidden;display: block;max-width: 100%;}
.pop_inner{padding: 30px;height: calc(100% - 54px);text-align: center;}
.pop_inner .cts{text-align: left;height: auto;max-height: 500px;overflow-y: auto;}
.pop_inner .cts.scroll{height: auto;max-height: 500px;margin-top: 0;}
.pop_inner .text{line-height:1.5}
.pop_inner .img_area{width: 100%;margin: 30px 0 40px;}
.pop_close{font-size:0;line-height:0;width:17px;height:16px;position: absolute;right:30px;top:19px;background: url(../images/common/pop_close.png) left top no-repeat;}
.pop_layer .line{width: 100%;height: 1px;background: url(../images/common/pattern01.png) left bottom repeat-x;margin: 20px 0;}
.pop_layer .title{text-align: center;font-weight: 600;font-size: 24px;}
.pop_layer.password_pop{min-width: auto;max-width: 400px;margin-bottom: 30px;}
.pop_layer .btn_area{margin-top:30px}
.pop_layer .btn_area a{margin-left: 10px;height: 45px;padding: 0 15px;line-height: 45px;min-width: 120px;}
.pop_layer .btn_area a:last-child{margin-left: 0;}
.pop_layer .tableW th{text-align: center;}
.pop_layer .tableA th,.pop_layer .tableA td{height: 45px;}

/* 페이지 오픈시 열리는 팝업(이미지팝업) */
.modal_pop{background:#fff;position: fixed;left: calc(50% - 10px);top: 48%;z-index: 520;transform: translateX(-50%) translateY(-50%);border-radius: 20px;margin: 0 10px;display: block;max-height: calc(100vh - 50px);width: calc(100% - 20px);max-width: 600px;}
.modal_pop .pop_inner{padding: 0;height: 100%;overflow: hidden;border-radius: 0 0 20px 20px;}
.modal_pop .pop_inner img{max-width: 100%;max-height: 80vh;display: block;margin: 0 auto;}

/* 호버시 팝업 */
.pop_hover{position: relative;cursor: pointer;}
.pop_hover:after{content: '';background: url(../images/sub/pop_ico.png) center no-repeat;width: 18px;height: 18px;display: inline-block;position: relative;top: 3px;margin-left: 6px;}
.pop_hover_wrap:hover .pop_hover_layer,.pop_hover_wrap:focus .pop_hover_layer{display: block;}
.pop_hover_layer{position: absolute;left: 0;top:100%;width: 510px;box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .24);border-radius: 16px;z-index: 5;display: none;}
.pop_hover_layer .pop_inner{background: #fff;border-radius:0 0 16px 16px;text-align: left;}