@media screen and (max-width:1500px){
  /* body{min-width: 428px;} */
  img{max-width: 100%;}

  .top_move{right: 30px;bottom: 20px;}
}
@media screen and (max-width:1366px){ /* 태블릿시작 */
  .top_move{display: none!important;}
}
@media screen and (max-width:1024px) { 
  body,html,button,select,input,textarea{font-size:15px;}

  .btn_area.mobcolumn{flex-direction: column;align-items: flex-start;gap: 10px;}
}
@media screen and (max-width:767px){
  .pop_title{padding: 17px 30px 14px 20px;font-size: 18px;}
  .pop_close{right: 20px;}
  .pop_inner{padding: 20px;}
}
@media screen and (max-width:600px){
  .mt40{margin-top: 30px!important;}
  .mt50{margin-top: 30px!important;}

  .black_btn,.border_btn,.gray_btn,.blue_btn,.more_btn{min-width: 100px;}
    
  .pop_layer{min-width: auto;}
  .pop_layer .title{font-size: 20px;}
}

@media screen and (max-width:480px){
  .mb40{margin-bottom: 30px!important;}
  .w190{width: 100%;max-width: none!important;}
  select{padding: 5px 20px 5px 8px;}

  .btn_area a{margin-right: 5px;}
  .black_btn,.border_btn,.gray_btn,.blue_btn,.more_btn{min-width: 80px;}
}